@model Restaurant_Amb_1.Employee_Tbl

@section banner {
    <div class="bannerAdmin">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
}
<h2>Details</h2>

<div>
    <h4>Employee_Tbl</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.empname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empusername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empusername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emppassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emppassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empconfpassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empconfpassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empcontactno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empcontactno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empmailid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empmailid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateofjoining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateofjoining)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.empid }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-primary" })
</p>
