@model IEnumerable<Restaurant_Amb_1.Pickup_Tbl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.storelocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sotrecity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.storecontact1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.storecontact2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.storecontact3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createddate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updateddate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.storelocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sotrecity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.storecontact1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.storecontact2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.storecontact3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createddate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updatedby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updateddate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.storeid }) |
            @Html.ActionLink("Details", "Details", new { id=item.storeid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.storeid })
        </td>
    </tr>
}

</table>
