@model Restaurant_Amb_1.HomeDelivery_Tbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HomeDelivery_Tbl</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.homdellocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homdellocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.homdelcity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homdelcity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updateddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updateddate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.homdelid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
