@model IEnumerable<Restaurant_Amb_1.HomeDelivery_Tbl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.homdellocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.homdelcity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createddate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updateddate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.homdellocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.homdelcity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createddate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updatedby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updateddate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.homdelid }) |
            @Html.ActionLink("Details", "Details", new { id=item.homdelid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.homdelid })
        </td>
    </tr>
}

</table>
